<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mad.transit">

    <application
        android:name=".TransitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBarNoTransparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.TimetableActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBarNoTransparentStatusBar" />
        <activity
            android:name=".activities.RoutesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />
        <activity
            android:name=".activities.SingleLineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />
        <activity
            android:name=".activities.NavigationActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.SingleStopActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBarNoTransparentStatusBar" />
        <activity
            android:name=".activities.FavouriteLinesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.PlacesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBarNoTransparentStatusBar" />
        <activity
            android:name=".activities.ChooseOnMapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />
        <activity
            android:name=".activities.FavouriteLocationMapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />
        <activity
            android:name=".activities.FavouriteLocationsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.PastDirectionsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC62Y1PYAxBmgmcoD02ttgegL7dlqfXSl0" />
        <provider
            android:name=".database.DBContentProvider"
            android:authorities="org.mad.transit"
            android:exported="false" />

        <receiver
            android:name=".navigation.GeofenceBrodcastReciever"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".navigation.NavigationService"
            android:enabled="true"
            android:exported="true"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>